<!-- userlist -->
<div class="container">
 <div class="row">
  <div class="col-lg-3">
   <%= render 'layouts/list', book: @book %>
  </div>
  <div class="col-lg-9">
   <h2>Users</h2>
   <table class="table table-hover table-inverse">
   	<thead>
   	 <tr>
   	  <th>image</th>
   	  <th>name</th>
      <th></th>
   	 </tr>
   	</thead>
   	<tbody>
     <% @users.each do |user| %>
      <tr>
       <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "profile1.jpg", size: "60x60" %></td>
       <td><%= user.name %></td>
       <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
     <% end %>
   	</tbody>
   </table>
  </div>
 </div>
</div>