<!-- home画面 -->
<div class="container">
 <div class="row">
  <div class="col-lg-4" style="background-color: orange;">
   <%= render 'layouts/list', book: @book %>
  </div>
  <div class="col-lg-8">
   <h2>Books</h2>

   <table >
    <thead>
     <tr>
      <th>Title</th>

      <th>Opinion</th>
     </tr>
    </thead>
    <tbody>
    <% @book.each do |book| %>
     <tr>
      <td class="user"><%= attachment_image_tag @user_image, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb" %></td>
      <td class="title"><%= @book.title %></td>
      <td class="Opinion"><%= @book.body %></td>
     </tr>
    <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>