<h1>welcome to
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Bookers   !!</h1>

<p>In
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Bookers,</p>

<p>you can share and exchange your opinions , inpressions , and<br>
emotions</p>

<p>about various books!</p>

<%= link_to new_user_session_path()
